@mixin media-breakpoint-up($key) {
  $min: map-get($grid-breakpoints, $key);

  @media (min-width: $min) {
    @content;
  }
}

@mixin focus-visible {
  @if (&) {
    .js-focus-visible &:focus:not(.focus-visible) {
      @content;
    }
  } @else {
    .js-focus-visible :focus:not(.focus-visible) {
      outline: none;
    }
  }
}

@mixin font-face($font-family, $url, $weight: 400, $style: normal) {
  @font-face {
    font-family: "#{$font-family}";
    src: local("#{$url}"),
     url('../fonts/#{$url}.woff') format("woff"),
     url('../fonts/#{$url}.woff2') format("woff2");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}
